<div class="img-container">
    <img src="/assets/img/burger.png" />
</div>  
<div class="container">
    <div class="left">
        <ol class="non-devoured">
            {{#each nonDevoureds}}
            <li>
                <div class="non-devoured-item">
                    <p>{{burger_name}}</p>
                </div>
                <button class="btn-devour">Devour it!</button>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="right">
        <ol class="devoured">
            {{#each devoureds}}
            <li>
                <div class="devoured-item">
                    <p>{{burger_name}}</p>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>