.lists {
    padding: 10px;
    margin: auto;
    width: 80%;
    display: flex;
}
.img-container {
    width: 80%;   
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;   
}
.left {
    width: 50%;
    float: left;
    padding: 5px;
}

.right {  
    width: 50%;
    padding: 5px;  
}

.non-devoured-item {
    background-color: white;
    width: 65%;
    border: 1px solid black; 
    margin: auto;
}

.btn-devour {
    padding: 5px;
    margin: 3%;
    border-radius: 5px;
}

.devoured-item {
    background-color: white;
    border: 1px solid black; 
    margin: 2.5px auto;
    width: 65%;
}

.new-burger {
    width: 30%;   
    padding: 10px;
    margin: auto;
    justify-content: center;   
}

.create-form {
    width: 90%;
}

#btn-submit {
    margin-left: 45%;
    margin-top: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
}

li {
    display: flex;
}

p {
    margin-left: 5%;
}

img {
    max-height: 250px;
    max-width: 250px;
}

h2 {
    width: 80%;
    margin: auto;
    color: brown; 
    text-align: center;   
}

textarea {
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    resize: none;
}

body {
    background-color: rgb(211, 112, 80);
}

#error-msg {
    font-weight: bolder;
    color: red;
}

.display-none {
    display: none;
}

.border-error {
    border: 2px solid red; 
    border-radius: 5px;
}