.lists {
    background-color: chocolate;
    padding: 10px;
    margin: auto;
    width: 80%;
    display: flex;
}
.img-container {
    width: 80%;   
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;   
}
.left {
    background-color: aqua;
    width: 50%;
    float: left;
    padding: 5px;
}

.right {
    background-color: brown;   
    width: 50%;
    padding: 5px;  
}

.non-devoured {
    background-color: cornsilk;
}
.non-devoured-item {
    background-color: white;
    width: 65%;
    border: 1px solid black; 
    margin: auto;
}

.btn-devour {
    margin: 5%;
}

.devoured {
    background-color: cadetblue;
}

.devoured-item {
    background-color: white;
    border: 1px solid black; 
    margin: 5px auto;
    width: 65%;
}

.new-burger {
    width: 30%;   
    padding: 10px;
    margin: auto;
    background-color: green;
    justify-content: center;   
}

.create-form {
    width: 90%;
    background-color: indianred;
}

#btn-submit {
    margin-left: 45%;
    margin-top: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
}

li {
    display: flex;
}

p {
    margin-left: 5%;
}

img {
    max-height: 250px;
    max-width: 250px;
}

h2 {
    width: 80%;
    margin: auto;
    color: brown; 
    text-align: center;   
}

textarea {
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    resize: none;
}
